<% if object.has_tag?(:representation) %>
<div class="resources examples">
  <% if object.tags(:representation).size == 1 %>
  
    <h3>Representation served by this class: 
    <small><%= htmlify_line(object.tag(:representation)[0].name) %></small></h3>
    <div class="docstring">
      <pre class="example code"><%= CodeRay.scan(object.tag(:representation).text, 
      object.tag(:representation).name.to_sym).html(:css => :style) %></pre>
    </div>
  <% else %>
    <h3>Representations served by this class:</h3>
    <% object.tags(:representation).each do |tag| %>
    <dl>
      <dt><%= htmlify_line(tag.name) %></dt>
      <dd class="docstring">
        <pre class="example code"><%= CodeRay.scan(tag.text, 
        tag.name.to_sym).html(:css => :style) %></pre>
      </dd>
    </dl>
    <% end %>
  <% end %>
</div>
<% end %>